version: 3

references:
  auth_google: &auth_google
    run:
      command: |
        echo ${GOOGLE_AUTH} > gcp-key.json && gcloud auth activate-service-account --key-file gcp-key.json
        gcloud --quiet config set project ${GOOGLE_PROJECT_ID} && gcloud docker --authorize-only

  disable_strict_git: &disable_strict_git
    run: mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

  docker_auth: &docker_auth
    auth:
      username: _json_key
      password: $GOOGLE_AUTH

  checkout_default_wd: &checkout_default_wd
    checkout:
      path: ~/demo

  load_cache: &load_cache
    restore_cache:
      keys:
        - v1-repo-{{ .Environment.CIRCLE_SHA1 }}

  load_version: &load_version
    run: cat ~/demo/workspace/VERSION >> $BASH_ENV

  setup_workspace: &setup_workspace
    attach_workspace:
      at: ~/demo

  setup_docker_layer_caching: &setup_docker_layer_caching
    setup_remote_docker:
      docker_layer_caching: true

  setup_build_tools: &setup_build_tools
    run:
      command: |
        mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
        sudo apt update && sudo apt-get install python3 python3-setuptools python3-dev build-essential libpq-dev libffi-dev libssl-dev python3-pip
        python3 -m pip install --upgrade --user setuptools six
        python3 -m pip install --user -U pip "setuptools<66.0.0"
        git clone git@github.com:Rookout/build_tools.git
        python3 -m pip install -r build_tools/requirements.txt --user
        python3 build_tools/setup.py install --user

  setup_make: &setup_make
    run: sudo apt install make

  filter_master: &filter_master
    filters:
      branches:
        only: master

  docker_login: &docker_login
    run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

  install_deps: &install_deps
    run:
      command: |
        apt-get update
        apt-get install wget git -y
        wget https://github.com/mikefarah/yq/releases/download/v4.27.5/yq_linux_amd64 -O /usr/bin/yq &&\
        chmod +x /usr/bin/yq
jobs:

  checkout_code_upver:
    docker:
      - image: cimg/openjdk:8.0-browsers
    working_directory: ~/demo
    steps:
      - *checkout_default_wd
      - *setup_workspace
      - *setup_build_tools
      - add_ssh_keys
      - run: mkdir -p ~/demo/workspace
      - run: python3 ~/demo/build_tools/rbt.py version get-next > ~/demo/workspace/VERSION
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/demo
      - persist_to_workspace:
          root: .
          paths:
            - build_tools
            - workspace/VERSION

  build_and_push_demo_image:
    docker:
      - image: cimg/openjdk:8.0-browsers
    working_directory: ~/demo
    steps:
      - *load_cache
      - *setup_workspace
      - *load_version
      - *setup_make
      - *setup_docker_layer_caching
      - *docker_login
      - run: make build-and-upload

  deploy_demo_argo:
    docker:
      - image: ubuntu:focal
    working_directory: ~/demo
    steps:
      - add_ssh_keys
      - *disable_strict_git
      - *load_cache
      - *setup_workspace
      - *load_version
      - *install_deps
      - run: git config --global user.email "sonario@rookout.com" && git config --global user.name "sonariorobot"
      - run: git clone git@github.com:Rookout/gitops.git
      - run: PUBLISH_VERSION=$(echo $NEW_VERSION | sed 's/inner-999/1/g') yq eval -i -v  '.apps[] |= select(.releaseName == "tutorial-java").helmValues.image.tag = strenv(PUBLISH_VERSION)' apps/demo/staging/apps.yaml
      - run: PUBLISH_VERSION=$(echo $NEW_VERSION | sed 's/inner-999/1/g') yq eval -i -v  '.apps[] |= select(.releaseName == "tutorial-java").helmValues.image.tag = strenv(PUBLISH_VERSION)' apps/demo/production/apps.yaml
      - run: cd gitops && git add apps/demo/staging/apps.yaml apps/demo/production/apps.yaml
      - run: cd gitops && git commit -m "update tutorial-java $NEW_VERSION"
      - run: cd gitops && git push https://sonariorobot:$GITHUB_TOKEN@github.com/Rookout/gitops.git


  test_demo_servers_up:
    docker:
        - image: google/cloud-sdk:latest
    working_directory: ~/demo
    steps:
      - run: sleep 15 && echo "Checking Staging..."
      - run: curl 'https://machina.staging.rookout-demo.com/account/register'
      - run: curl 'https://python.staging.rookout-demo.com/'
      - run: curl 'https://java.staging.rookout-demo.com/'
      - run: curl 'https://nodejs.staging.rookout-demo.com/'
      - run: curl 'https://ruby.staging.rookout-demo.com/'
      - run: sleep 15 && echo "Checking Production..."
      - run: curl 'http://machina.rookout-demo.com/account/register'
      - run: curl 'http://python.rookout-demo.com/'
      - run: curl 'http://java.rookout-demo.com/'
      - run: curl 'http://nodejs.rookout-demo.com/'
      - run: curl 'http://ruby.rookout-demo.com/'

  notify_slack:
    docker:
        - image: cimg/openjdk:8.0-browsers
    working_directory: ~/demo
    steps:
      - *setup_build_tools
      - run: python3 ~/demo/build_tools/rbt.py notify deployment -t demo-deployed


workflows:
  version: 2
  deploy-pipeline:
    jobs:
      - checkout_code_upver
      - build_and_push_demo_image:
          requires:
            - checkout_code_upver
          <<: *filter_master
      - deploy_demo_argo:
          requires:
            - build_and_push_demo_image
          <<: *filter_master
      - test_demo_servers_up:
          requires:
            - deploy_demo_argo
          <<: *filter_master
      - notify_slack:
          requires:
            - test_demo_servers_up
          <<: *filter_master
