version: 3

references:
  auth_google: &auth_google
    run:
      command: |
        echo ${GOOGLE_AUTH} > gcp-key.json && gcloud auth activate-service-account --key-file gcp-key.json
        gcloud --quiet config set project ${GOOGLE_PROJECT_ID} && gcloud docker --authorize-only

  disable_strict_git: &disable_strict_git
    run: mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

  docker_auth: &docker_auth
    auth:
      username: _json_key
      password: $GOOGLE_AUTH

  checkout_default_wd: &checkout_default_wd
    checkout:
      path: ~/demo

  load_cache: &load_cache
    restore_cache:
      keys:
        - v1-repo-{{ .Environment.CIRCLE_SHA1 }}

  load_version: &load_version
    run: cat ~/demo/workspace/VERSION >> $BASH_ENV

  setup_workspace: &setup_workspace
    attach_workspace:
      at: ~/demo

  setup_docker_layer_caching: &setup_docker_layer_caching
    setup_remote_docker:
      docker_layer_caching: true

  setup_build_tools: &setup_build_tools
    run:
      command: |
        mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
        apt-get install -y python-setuptools python-dev build-essential
        easy_install pip
        pip install -e git+ssh://git@github.com/Rookout/build_tools.git#egg=rookout_build_tools

  setup_make: &setup_make
    run: apt install -y make

  filter_master: &filter_master
    filters:
      branches:
        only: master

  docker_login: &docker_login
    run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD


jobs:

  checkout_code_upver:
    docker:
      - image: google/cloud-sdk:latest
    working_directory: ~/demo
    steps:
      - *checkout_default_wd
      - *setup_workspace
      - *setup_build_tools
      - add_ssh_keys
      - run: mkdir -p ~/demo/workspace
      - run: python ~/demo/src/rookout-build-tools/rbt.py version get-next > ~/demo/workspace/VERSION
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/demo
      - persist_to_workspace:
          root: .
          paths:
            - workspace/VERSION

  build_and_push_demo_image:
    docker:
      - image: openjdk:8-jdk-browsers
    working_directory: ~/demo
    steps:
      - *load_cache
      - *setup_workspace
      - *load_version
      - *setup_make
      - *setup_docker_layer_caching
      - run: make build-jar-local
      - *docker_login
      - run: make build-and-upload


  deploy_demo:
    docker:
      - image: google/cloud-sdk:latest
    working_directory: ~/demo
    steps:
      - add_ssh_keys
      - *disable_strict_git
      - *load_cache
      - *setup_workspace
      - *auth_google
      - *load_version
      - run: git clone git@github.com:Rookout/deployment-demo
      - *setup_make
      - run: export GOOGLE_APPLICATION_CREDENTIALS=/root/demo/gcp-key.json && cd deployment-demo && export env=staging && make deploy-demo
      - run: export GOOGLE_APPLICATION_CREDENTIALS=/root/demo/gcp-key.json && cd deployment-demo && export env=production && make deploy-demo

  test_demo_servers_up:
    docker:
        - image: google/cloud-sdk:latest
    working_directory: ~/demo
    steps:
      - run: sleep 15 && echo "Checking Staging..."
      - run: curl 'http://staging.machina.rookout-demo.com/account/register'
      - run: curl 'http://staging.python.rookout-demo.com/'
      - run: curl 'http://staging.java.rookout-demo.com/'
      - run: curl 'http://staging.nodejs.rookout-demo.com/'
      - run: sleep 15 && echo "Checking Production..."
      - run: curl 'http://machina.rookout-demo.com/account/register'
      - run: curl 'http://python.rookout-demo.com/'
      - run: curl 'http://java.rookout-demo.com/'
      - run: curl 'http://nodejs.rookout-demo.com/'

workflows:
  version: 2
  deploy-pipeline:
    jobs:
      - checkout_code_upver
      - build_and_push_demo_image:
          requires:
            - checkout_code_upver
          <<: *filter_master
      - deploy_demo:
          requires:
            - build_and_push_demo_image
          <<: *filter_master
      - test_demo_servers_up:
          requires:
            - deploy_demo
          <<: *filter_master